.ticketing-sidebar
  .ticketing-sidebar-close.visible-md
    a(href='', ng-click='$hide();close()')
  ul.nav.nav-pills.nav-stacked
    .listview
      .lv-body
        a.lv-item.menu-item(href="", ui-sref="ticketing.admin.contract", ui-sref-active="selected")
          i.mdi.mdi-file
          .menu-title #{__('Contracts')}
        a.lv-item.menu-item(href="", ui-sref="ticketing.admin.users", ui-sref-active="selected")
          i.mdi.mdi-account-multiple
          .menu-title #{__('Users')}
        a.lv-item.menu-item(href="", ui-sref="ticketing.admin.organization", ui-sref-active="selected")
          i.mdi.mdi-city
          .menu-title #{__('Organizations')}
        a.lv-item.menu-item(href="", ui-sref="ticketing.admin.software", ui-sref-active="selected")
          i.mdi.mdi-laptop
          .menu-title #{__('Softwares')}
        a.lv-item.menu-item(href="", ui-sref="ticketing.admin.general", ui-sref-active="selected")
          i.mdi.mdi-pencil
          .menu-title #{__('Demands')}
