ng-form(name="form")
  .row
    .col-md-6
      .row
        .col-xs-12
          h5 #{__('Contract')}
          ticketing-search-auto-complete(
            new-tags="$ctrl.contracts",
            object-types="contract",
            min-tags="1",
            max-tags="10",
            place-holder="Type a contract name",
            on-change="$ctrl.ticket.contract = $ctrl.contracts && $ctrl.contracts.length ? $ctrl.contracts[0] : null"
          )
      .row.m-b-30
        .col-xs-12
          h5 #{__('Organization')}
          input.form-control.p-l-5(ng-model="$ctrl.ticket.contract.organization.shortName", disabled)
      ticketing-ticket-form-demand(ticket="$ctrl.ticket", template="/ticketing/app/ticket/form/demand/templates/ticketing-ticket-form-create-demand.html")
      .row
        .col-xs-12
          esn-form-group(label=__('Environment'), helper=__('Operating system, architecture, ...'))
            input.form-control(ng-model="$ctrl.ticket.environment", name="environment")
    .col-md-6
      .row.title
        .col-xs-12
          esn-form-group(label=__('Title'))
            input.form-control(ng-model="$ctrl.ticket.title", name="title", required)
      .row
        .col-xs-12
          esn-form-group(label=__('Description'))
            textarea.form-control(
              ng-model="$ctrl.ticket.description",
              name="description",
              type="text",
              minlength="50",
              rows="8",
              required
            )
      .row
        .col-xs-12
          ticketing-attachments(attachments="$ctrl.ticket.attachments")
