.row
  .col-xs-12
    button.btn.btn-default.btn-link.btn-icon(
      ng-file-select="$ctrl.onAttachmentsSelect($files)",
      data-multiple="true",
      ng-class="{ 'btn-with-badge': $ctrl.attachmentStatus.number > 0 }"
    )
      .badge-container
        .badge.composer-badge(ng-hide='$ctrl.attachmentStatus.number === 0', ng-class="{ error: $ctrl.attachmentStatus.error }") {{ $ctrl.attachmentStatus.number | maxPlus:99 }}
        i.mdi.mdi-paperclip(ng-class="{ uploading: $ctrl.attachmentStatus.uploading }")
    small #{__('Image / PDF / Video / Doc (Maximum 5MB each)')}
.row
  .col-xs-12
    .attachments-zone
      .attachments(ng-if="$ctrl.attachments.length > 0")
        .attachment(
          ng-click="$event.stopPropagation()",
          ng-repeat="attachment in $ctrl.attachments | orderBy:'-'",
          ng-if="::!attachment.isInline",
          ng-class="attachment.status",
          name="attachment-{{$index}}"
        )
          .progress(ng-if="attachment.status === 'uploading'", ng-style="{ width: attachment.upload.progress + '%' }")
          .icon(ng-switch='attachment.status')
            img(ng-switch-when="error", src="/images/exclamation.svg", alt=__("Error"))
            img(ng-switch-when="uploading", src="/images/upload.svg", alt=__("Uploading"))
            img(
              ng-switch-default,
              fallback-src="/images/file-icons/default.png",
              src="/images/file-icons/default.png",
              ng-src="/images/file-icons/{{ ::attachment.type | extension }}.png",
              alt=__("Attachment")
            )
          .metadata
            .name.ellipsis {{ ::attachment.name }}
            .secondary-metadata(ng-switch="attachment.status")
              .retry(ng-switch-when="error") #{__('Upload failed')}.
                a(href="", ng-click="ctrl.upload(attachment)") #{__('Retry')}
              .size(ng-switch-default) {{ ::attachment.size | bytes }}
          .actions
            a.clickable
              i.mdi.mdi-close.cancel(ng-click="$event.stopPropagation(); $ctrl.removeAttachment(attachment)")
