doctype html
html.mail
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    - var ticketLink = `<a href="${content.ticketUrl}">${translate('ticket #{{id}}', {id: content.ticket.id})}</a>`
    - var ticketStatus = `<strong>${translate('registered')}</strong>`
    - var author = `<i>${content.ticket.author.name}</i>`
    p !{translate('The {{{ticketLink}}} has just been {{{ticketStatus}}} by {{{author}}}', {ticketLink: ticketLink,ticketStatus: ticketStatus, author:author})} :
    hr
    != content.ticket.description
    hr
    p 
      | #{translate('The issue is qualified with a severity')} 
      strong #{translate(content.ticket.severity)}.
      p(style="color: gray")
        |--
        br
        | #{translate('This is an automatic email from {{{site}}}.', {site: content.frontendUrl})}

