.form-group
  .input-group.flex-vertical-centered
    span.input-group-addon(ng-if="$ctrl.icon")
      i.mdi(ng-class="$ctrl.icon")
    .fg-line
      tags-input.form-control(
        ng-model='$ctrl.newTags',
        max-tags="{{::$ctrl.maxTags}}",
        placeholder="{{::$ctrl.placeholder}}",
        display-property='displayName',
        key-property='id',
        replace-spaces-with-dashes='false',
        on-tag-adding="$ctrl.onTagAdding($tag)",
        on-tag-added="$ctrl.onTagAdded($tag)",
        add-from-autocomplete-only="{{::$ctrl.addFromAutocompleteOnly}}"
      )
        auto-complete(
          source='$ctrl.search($query)',
          min-length='1',
          debounce-delay='200',
          max-results-to-show= '20',
          template="/ticketing/app/common/search/auto-complete/ticketing-search-auto-complete-template.html"
        )
