.card
  .card-body
    infinite-list(load-more-elements='$ctrl.loadMoreElements()', scroll-inside-container="$ctrl.scrollInsideContainer")
      .listview.lv-bordered.lv-lg(ng-if="$ctrl.elements.length")
        .lv-header
          .lv-item.p-0
            .row(ng-if="!$ctrl.organization._id")
              .col-md-1.col-xs-2.lv-title
                span #{__('Active')}
              .col-md-2.col-xs-3.lv-title
                span #{__('Number')}
              .col-md-3.col-xs-4.lv-title
                span #{__('Title')}
              .col-md-2.col-xs-3.lv-title
                span #{__('Manager')}
              .col-md-2.hidden-xs.lv-title
                span #{__('Start date')}
              .col-md-2.hidden-xs.lv-title
                span #{__('End date')}
        .lv-body
          .lv-item.p-0(ng-repeat="item in $ctrl.elements track by item._id")
            ticketing-order-list-item.clickable(order="item", ui-sref="ticketingAdminCenter.orderDetail({orderId: item._id})")
div(ng-if="!$ctrl.elements.length && $ctrl.infiniteScrollCompleted")
  ticketing-empty-message(
    icon="mdi-file",
    message=__('No order'))
ul.nav.nav-pills.nav-stacked(ng-if='$ctrl.infiniteScrollDisabled')
  li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
