.card.p-20.p-t-25
  .pmb-block(ng-if="!$ctrl.isEditMode")
    .pmbb-header.p-b-10
      h4
        i.mdi.mdi-account.m-r-5
        | #{__('User informations')}
    .pmbb-body.p-l-30
      .pmbb-view
        dl.dl-horizontal
          dt
            i.mdi.mdi-chevron-right.m-r-5
            | #{__('Name')}
          dd
            | {{::$ctrl.user.firstname}} {{::$ctrl.user.lastname}}
        dl.dl-horizontal
          dt
            i.mdi.mdi-email.m-r-5
            | #{__('Email')}
          dd
            a(ng-href="mailto:{{::$ctrl.user.preferredEmail}}")
              | {{::$ctrl.user.preferredEmail}}
        dl.dl-horizontal
          dt
            i.mdi.mdi-phone.m-r-5
            | #{__('Phone')}
          dd
            a(ng-href="tel:{{::$ctrl.user.main_phone}}")
              | {{::$ctrl.user.main_phone}}
        dl.dl-horizontal
          dt
            i.mdi.mdi-city.m-r-5
            | #{__('Organization')}
          dd(ng-if="$ctrl.user.entity.parent._id")
            a(ui-sref="ticketing.admin.organization.detail({organizationId: $ctrl.user.entity.parent._id})") {{::$ctrl.user.entity.parent.fullName}}
        dl.dl-horizontal
          dt
            i.mdi.mdi-city.m-r-5
            | #{__('Entity')}
          dd(ng-if="$ctrl.user.entity._id")
            a(ui-sref="ticketing.admin.organization.detail({organizationId: $ctrl.user.entity._id})") {{::$ctrl.user.entity.fullName}}
        dl.dl-horizontal
          dt
            i.mdi.mdi-comment-text.m-r-5
            | #{__('Description')}
          dd
            | {{::$ctrl.user.description}}

  ng-form(ng-if="$ctrl.isEditMode", name="form")
    ticketing-user-form(user="$ctrl.user", update-mode="true")
