table.row.row-5(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #eeeeee;')
  tbody
    tr
      td
        table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #000000; width: 750px;border-radius: 0 0 30px 30px' width='750')
          tbody
            tr
              td(style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-size: 0px; padding: 10px 25px; padding-right: 0; padding-left: 30px; word-break: break-word;' align='left')
                div(style='font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;')
                  span(style='font-weight: 400; font-size: 15px; line-height: 20px; vertical-align: bottom;')
                    a(title='smartsla.org' target='_blank' href='https://smartsla.org' rel='SmartSla' style="color: inherit;text-decoration: none;") !{ `SmartSla ` }
                    | !{translate('is powered by')}:
                  img(style='border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; margin-left: 4px;' src='cid:Linagora-logo' width='76' height='15')
            tr
              td(style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-size: 0px; padding: 0 30px; word-break: break-word;' align='left')
                div(style='font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;')
                  img(src='cid:logo-08000linux' style='border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; margin-right: 4px' width='150' height='18')
                  span(style='font-weight: 400; font-size: 15px; line-height: 20px; vertical-align: bottom;')
                    a(href='mailto:ossa@linagora.com' style='text-decoration:none; color:#000') ossa@linagora.com
                .spacer_block(style='height:25px;line-height:40px;font-size:1px;') &hairsp;
        table(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
          tbody
            tr
              td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;direction: ltr;font-size: 0px;padding: 20px 0;padding-bottom: 60px;padding-top: 0;text-align: center;' align='center')
                div(style='margin: 0px auto; max-width: 600px')
                  table(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                    tbody
                      tr
                        td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;direction: ltr;font-size: 0px;padding: 30px 0 20px;text-align: center;' align='center')
                          .x_mj-column-per-100.mj-outlook-group-fix(style='font-size: 0px;text-align: left;direction: ltr;display: inline-block;vertical-align: top;width: 100%;')
                            table(valign='top' style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr
                                  td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0px;padding: 0;word-break: break-word;' align='center')
                                    div(style='font-family: Ubuntu, Helvetica, Arial,sans-serif;font-size: 16px;line-height: 19px;text-align: center;color: #576067;') !{translate('Follow us on social media')}
                div(style='margin: 0px auto; max-width: 600px')
                  table(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                    tbody
                      tr
                        td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;direction: ltr;font-size: 0px;padding: 0;text-align: center;' align='center')
                          .x_mj-column-per-35.mj-outlook-group-fix.icons-wrapper__on-mobile(style='font-size: 0;line-height: 0;text-align: left;display: inline-block;direction: ltr;width: 50%;')
                            .x_mj-column-per-20.mj-outlook-group-fix(style='font-size: 0px;text-align: left;direction: ltr;display: inline-block;vertical-align: top;width: 20%;')
                              table(valign='top' style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0')
                                tbody
                                  tr
                                    td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0px;padding: 0 2px;word-break: break-word;' align='center')
                                      table(style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;' role='presentation' cellspacing='0' cellpadding='0' border='0')
                                        tbody
                                          tr
                                            td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 24px;' width='24')
                                              a(title='instagramIcon' target='_blank' href='https://www.instagram.com/linagora/' rel='nofollow noopener')
                                                img(title='instagramIcon' style='line-height: 100%;-ms-interpolation-mode: bicubic;border: 0;display: block;outline: none;text-decoration: none;height: 24px;width: 100%;font-size: 13px;' src='cid:instagram' alt='instagramIcon' width='24' height='24')
                            .x_mj-column-per-20.mj-outlook-group-fix(style='font-size: 0px;text-align: left;direction: ltr;display: inline-block;vertical-align: top;width: 20%;')
                              table(valign='top' style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0')
                                tbody
                                  tr
                                    td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0px;padding: 0 2px;word-break: break-word;' align='center')
                                      table(style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;' role='presentation' cellspacing='0' cellpadding='0' border='0')
                                        tbody
                                          tr
                                            td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 24px;' width='24')
                                              a(title='facebookIcon' target='_blank' href='https://www.facebook.com/tux.linagora' rel='nofollow noopener')
                                                img(title='facebookIcon' style='line-height: 100%;-ms-interpolation-mode: bicubic;border: 0;display: block;outline: none;text-decoration: none;height: 24px;width: 100%;font-size: 13px;' src='cid:facebook' alt='facebookIcon' width='24' height='24')
                            .x_mj-column-per-20.mj-outlook-group-fix(style='font-size: 0px;text-align: left;direction: ltr;display: inline-block;vertical-align: top;width: 20%;')
                              table(valign='top' style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0')
                                tbody
                                  tr
                                    td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0px;padding: 0 2px;word-break: break-word;' align='center')
                                      table(style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;' role='presentation' cellspacing='0' cellpadding='0' border='0')
                                        tbody
                                          tr
                                            td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 24px;' width='24')
                                              a(title='twitterIcon' target='_blank' href='https://twitter.com/OSSA_Linagora' rel='nofollow noopener')
                                                img(title='twitterIcon' style='line-height: 100%;-ms-interpolation-mode: bicubic;border: 0;display: block;outline: none;text-decoration: none;height: 24px;width: 100%;font-size: 13px;' src='cid:twitter' alt='twitterIcon' width='24' height='24')
                            .x_mj-column-per-20.mj-outlook-group-fix(style='font-size: 0px;text-align: left;direction: ltr;display: inline-block;vertical-align: top;width: 20%;')
                              table(valign='top' style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0')
                                tbody
                                  tr
                                    td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0px;padding: 0 2px;word-break: break-word;' align='center')
                                      table(style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;' role='presentation' cellspacing='0' cellpadding='0' border='0')
                                        tbody
                                          tr
                                            td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 24px;' width='24')
                                              a(title='youtubeIcon' target='_blank' href='https://www.youtube.com/user/groupelinagora/videos' rel='nofollow noopener')
                                                img(title='youtubeIcon' style='line-height: 100%;-ms-interpolation-mode: bicubic;border: 0;display: block;outline: none;text-decoration: none;height: 24px;width: 100%;font-size: 13px;' src='cid:youtube' alt='youtubeIcon' width='24' height='24')
                            .x_mj-column-per-20.mj-outlook-group-fix(style='font-size: 0px;text-align: left;direction: ltr;display: inline-block;vertical-align: top;width: 20%;')
                              table(valign='top' style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0')
                                tbody
                                  tr
                                    td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0px;padding: 0 2px;word-break: break-word;' align='center')
                                      table(style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;' role='presentation' cellspacing='0' cellpadding='0' border='0')
                                        tbody
                                          tr
                                            td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 24px;' width='24')
                                              a(title='githubIcon' target='_blank' href='https://github.com/linagora/' rel='nofollow noopener')
                                                img(title='githubIcon' style='line-height: 100%;-ms-interpolation-mode: bicubic;border: 0;display: block;outline: none;text-decoration: none;height: 24px;width: 100%;font-size: 13px;' src='cid:github' alt='githubIcon' width='24' height='24')
                div(style='margin: 0px auto; max-width: 600px')
                  table(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                    tbody
                      tr
                        td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;direction: ltr;font-size: 0px;padding: 20px 0;padding-bottom: 16px;padding-top: 20px;text-align: center;' align='center')
                          .x_mj-column-per-100.mj-outlook-group-fix(style='font-size: 0;line-height: 0;text-align: left;display: inline-block;width: 100%;direction: ltr;')
                            .x_mj-column-per-100.mj-outlook-group-fix(style='font-size: 0px;text-align: left;direction: ltr;display: inline-block;vertical-align: top;width: 100%;')
                              table(valign='top' style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0')
                                tbody
                                  tr
                                    td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0px;padding: 0;word-break: break-word;' align='center')
                                      div(style='font-family: Ubuntu, Helvetica, Arial,sans-serif;font-size: 15px;font-weight: 400;line-height: 1;text-align: center;color: #576067;')
                                        span !{translate('Phone')}
                                        span
                                          | : +33 1 46 96 63 63 ·
                                          | info@linagora.com
                div(style='margin: 0px auto; max-width: 600px')
                  table(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                    tbody
                      tr
                        td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;direction: ltr;font-size: 0px;padding: 20px 0;padding-bottom: 16px;padding-top: 0;text-align: center;' align='center')
                          .x_mj-column-per-100.mj-outlook-group-fix(style='font-size: 0px;text-align: left;direction: ltr;display: inline-block;vertical-align: top;width: 100%;')
                            table(valign='top' style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0')
                              tbody
                                tr
                                  td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0px;padding: 0;word-break: break-word;' align='center')
                                    div(style='font-family: Ubuntu, Helvetica, Arial,sans-serif;font-size: 15px;line-height: 1;text-align: center;color: #576067;')
                                      | !{translate('Sent by LINAGORA')} · 100 Terrasse Boieldieu -
                                      | Tour Franklin 92042 Paris - La Défense
                div(style='margin: 0px auto; max-width: 600px')
                  table(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                    tbody
                      tr
                        td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;direction: ltr;font-size: 0px;padding: 0 10px;text-align: center;' align='center')
                          .x_mj-column-per-60.mj-outlook-group-fix(style='font-size: 0;line-height: 0;text-align: left;display: inline-block;width: 100%;direction: ltr;')
                            .x_mj-column-per-50.mj-outlook-group-fix(style='font-size: 0px;text-align: left;direction: ltr;display: inline-block;vertical-align: top;width: 50%;')
                              table(valign='top' style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0')
                                tbody
                                  tr
                                    td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0px;padding: 0;word-break: break-word;' align='left')
                                      div(style='font-family: Ubuntu, Helvetica, Arial,sans-serif;font-size: 12px;line-height: 14px;text-align: center;color: #576067;')
                                        a.x_footer-link(style='text-decoration: none;color: #576067;' target='_blank' href='https://www.linagora.com/en/legal/privacy/' rel='nofollow noopener') !{translate('Privacy Policy')}
                            .x_mj-column-per-50.mj-outlook-group-fix(style='font-size: 0px;text-align: left;direction: ltr;display: inline-block;vertical-align: top;width: 50%;')
                              table(valign='top' style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;' role='presentation' width='100%' cellspacing='0' cellpadding='0' border='0')
                                tbody
                                  tr
                                    td(style='border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0px;padding: 0;word-break: break-word;' align='left')
                                      div(style='font-family: Ubuntu, Helvetica, Arial,sans-serif;font-size: 12px;line-height: 14px;text-align: center;color: #576067;')
                                        a.x_footer-link(style='text-decoration: none;color: #576067;' target='_blank' href='https://www.linagora.com/en/legal/term-of-use/' rel='nofollow noopener') !{translate('Terms of Service')}
        table.row.row-7(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #eeeeee;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #eeeeee; color: #000000; width: 750px; ' width='750')
                  tbody
                    tr
                      td.column.column-1(width='100%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        .spacer_block(style='height:35px;line-height:35px;font-size:1px;') &hairsp;
