ng-form(name="form")
  .row
    .col-xs-12
      esn-form-group(label=__('Demand type'))
        .select
          select.form-control(
            ng-model="$ctrl.ticket.demandType",
            name="demandType",
            ng-options="demandType for demandType in $ctrl.availableDemandTypes",
            ng-change="$ctrl.onDemandTypeChange()",
            ng-disabled="!$ctrl.ticket.contract",
            required
          )
            // not show empty selection
            option(ng-show="false")
  .row
    .col-xs-12
      esn-form-group(label=__('Severity'))
        .select
          select.form-control(
            ng-model="$ctrl.severity",
            name="severity",
            ng-options="severity for severity in $ctrl.availableSeverities",
            ng-change="$ctrl.onServerityChange()",
            ng-disabled="!$ctrl.ticket.demandType"
          )
            // not show empty selection
            option(ng-show="false")
  .row
    .col-xs-12
      esn-form-group(label=__('Software'))
        .select
          select.form-control(
            ng-model="$ctrl.software",
            name="software",
            ng-options="item as item.label for item in $ctrl.availableSoftware track by item.label",
            ng-change="$ctrl.onSoftwareChange()",
            ng-disabled="!$ctrl.ticket.demandType"
          )
            // not show empty selection
            option(ng-show="false")
  .row
    .col-xs-12
      esn-form-group(label=__('Version'))
        .select
          select.form-control(
            ng-model="$ctrl.ticket.software.version",
            name="softwareVersion",
            ng-options="version for version in $ctrl.availableSoftwareVersions",
            ng-disabled="!$ctrl.ticket.software || !$ctrl.ticket.software.template",
            ng-required="$ctrl.ticket.software"
          )
            // not show empty selection
            option(ng-show="false")
