.card.p-20
  .card-header
    span #{__('Add software')}
  .card-body
    ticketing-contract-form-software(contract="$ctrl.contract")

.card(ng-if="$ctrl.contract.software.length")
  .card-body
    .listview.lv-bordered.lv-lg
      .lv-header
        .lv-item.p-0
          .row.hidden-xs
            .col-md-3.col-xs-3.lv-title
              span #{__('Software')}
            .col-md-3.col-xs-3.lv-title
              span #{__('Category')}
            .col-md-3.col-xs-3.lv-title
              span #{__('Versions')}
            .col-md-2.col-xs-2.lv-title
              span #{__('Software type')}
      .lv-body
        .lv-item.p-0(ng-repeat="item in $ctrl.contract.software track by item.template.name")
          ticketing-contract-tabs-software-item(software="item")
div(ng-if="!$ctrl.contract.software.length")
  ticketing-empty-message(message=__('No software'))
