.card.p-20.p-t-25
  .pmb-block(ng-if="!$ctrl.isEditMode")
    .pmbb-header.p-b-10
      h4
        i.mdi.mdi-file.m-r-5
        | #{__('Contract informations')}
    .pmbb-body.p-l-30
      .pmbb-view
        dl.dl-horizontal
          dt
            i.mdi.mdi-chevron-right.m-r-5
            | #{__('Title')}
          dd
            | {{::$ctrl.contract.title}}
        dl.dl-horizontal
          dt
            i.mdi.mdi-account.m-r-5
            | #{__('Manager')}
            dd
              a(ui-sref="ticketing.admin.users.detail({userId: $ctrl.contract.manager._id})") {{::$ctrl.contract.manager.displayName}}
        dl.dl-horizontal
          dt
            i.mdi.mdi-account.m-r-5
            | #{__('Default support manager')}
            dd
              a(ui-sref="ticketing.admin.users.detail({userId: $ctrl.contract.defaultSupportManager._id})") {{::$ctrl.contract.defaultSupportManager.displayName}}
        dl.dl-horizontal
          dt
            i.mdi.mdi-city.m-r-5
            | #{__('Organization')}
            dd
              a(ui-sref="ticketing.admin.organization.detail({organizationId: $ctrl.contract.organization._id})") {{::$ctrl.contract.organization.shortName}}
        dl.dl-horizontal
          dt
            i.mdi.mdi-calendar.m-r-5
            | #{__('Start date')}
            dd
              | {{::$ctrl.contract.startDate | esnDatetime: 'mediumDate'}}
        dl.dl-horizontal
          dt
            i.mdi.mdi-calendar.m-r-5
            | #{__('End date')}
            dd
              | {{::$ctrl.contract.endDate | esnDatetime: 'mediumDate'}}
  ng-form(name="form", ng-if="$ctrl.isEditMode")
    ticketing-contract-form(contract="$ctrl.contract")
