form(name="form")
  ticketing-organization-form(
    organization="$ctrl.organization",
    update-mode="true",
    new-managers="$ctrl.newManagers",
    on-cancel-btn-click="$ctrl.onCancelBtnClick()",
    on-save-btn-click="$ctrl.onSaveBtnClick()",
    max-tags="1")
