.card
  .card-body
    infinite-list(load-more-elements='$ctrl.loadMoreElements()', scroll-inside-container="$ctrl.scrollInsideContainer")
      .listview.lv-bordered.lv-lg(ng-if="$ctrl.elements.length > 0")
        .lv-header
          .lv-item.p-0
            .row
              .col-md-2.col-xs-4.lv-title
                span #{__('Name')}
              .col-md-3.col-xs-4.lv-title
                span #{__('Organization')}
              .col-md-3.hidden-xs.lv-title
                span #{__('Entity')}
              .col-md-3.col-xs-4.lv-title
                span #{__('Email')}
              .col-md-1.hidden-xs.lv-title
                span #{__('Phone')}
        .lv-body
          .lv-item.p-0.clickable(ng-repeat="item in $ctrl.elements track by item._id")
            ticketing-user-list-item(user="item", ui-sref="ticketing.admin.users.detail({ userId: item._id })")
ul.nav.nav-pills.nav-stacked(ng-if='$ctrl.infiniteScrollDisabled')
  li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

fab(icon="plus", ng-click="$ctrl.onCreateBtnClick()")
