ng-form(name="form", ng-if="!$ctrl.editMode")
  .row
    .col-xs-12
      h5 #{__('Name')}
      ticketing-search-auto-complete(
        new-tags="newSoftware",
        max-tags="1",
        min-tags="1",
        object-types="software",
        excluded-ids="$ctrl.existingSoftwareIds",
        placeholder=__('Type a software name'))
  .row
    .col-xs-12
      h5 #{__('Category')}
      input.form-control(ng-model="$ctrl.softwareTemplate.category", disabled)
  .row
    .col-xs-12
      h5 #{__('Versions')}
      ui-select(
        multiple,
        ng-model="$ctrl.software.versions",
        close-on-select="false",
        required
      )
        ui-select-match(placeholder=__('Select versions')) {{$item}}
        ui-select-choices(repeat="item in ($ctrl.softwareTemplate.versions | filter: $select.search) track by item")
          span(ng-bind="item")
  .row
    .col-xs-12
      h5 #{__('Type')}
      ui-select.form-control(ng-model="$ctrl.software.type", required)
        ui-select-match(placeholder=__('Select type'))
          span(ng-bind="$select.selected")
        ui-select-choices(repeat="item in ($ctrl.availableSoftwareTypes | orderBy: item | filter: $select.search) track by item")
          span(ng-bind="item")
ng-form(name="form", ng-if="$ctrl.editMode")
  .row
    .col-xs-12
      h5 #{__('Name')}
      input.form-control(ng-model="$ctrl.software.template.name", disabled)
  .row
    .col-xs-12
      h5 #{__('Category')}
      input.form-control(ng-model="$ctrl.software.template.category", disabled)
  .row
    .col-xs-12
      h5 #{__('Type')}
      input.form-control(ng-model="$ctrl.software.type", disabled)
  .row
    .col-xs-12
      h5 #{__('Versions')}
      ui-select(
        multiple,
        ng-model="$ctrl.software.versions",
        close-on-select="false",
        required
      )
        ui-select-match(placeholder=__('Select versions')) {{$item}}
        ui-select-choices(repeat="item in ($ctrl.software.template.versions | filter: $select.search) track by item")
          span(ng-bind="item")
