ng-form(name="form")
  .row
    .col-md-12
      esn-form-group(label=__('Title'))
        input.form-control(type="text", ng-model="$ctrl.order.title", name="orderTitle", required)
  .row.m-b-30
    .col-md-12
      dl.dl-horizontal
        dt #{__('Contract')}
        dd
          a(ui-sref="ticketingAdminCenter.contract.detail({contractId: $ctrl.order.contract._id})") {{::$ctrl.order.contract.title}}
      dl.dl-horizontal
        dt #{__('Organization')}
        dd
          a(ui-sref="ticketingAdminCenter.organization.detail({organizationId: $ctrl.order.contract.organization._id})") {{::$ctrl.order.contract.organization.fullName}}
  .row
    .col-md-6.input-manager
      h5 #{__('Manager')}
      small.c-red(ng-if="newManagers.length > 1")
        | #{__('Only allows one manager')}
      ticketing-user-auto-complete(new-users="newManagers", max-tags="1")
    .col-md-6.input-support-manager
      h5 #{__('Support manager')}
      small.c-red(ng-if="newDefaultSupportManagers.length > 1")
        | #{__('Only allows one Support manager')}
      ticketing-user-auto-complete(new-users="newDefaultSupportManagers", max-tags="1")
  .row
    .col-md-12.input-support-technician
      h5 #{__('Default support technician')}
      small.c-red(ng-if="newDefaultSupportTechnicians.length > 1")
        | #{__('Only allows one Default support technician')}
      ticketing-user-auto-complete.input-technician(new-users="newDefaultSupportTechnicians", max-tags="1")
  .row.z-1
    .col-md-12
      esn-form-group(label=__('Description'))
        textarea.form-control(ng-model="$ctrl.order.description")
