sub-header(ng-if="!$ctrl.organization")
  ticketing-contract-list-subheader

.card
  .card-body
    infinite-list(load-more-elements='$ctrl.loadMoreElements()', scroll-inside-container="$ctrl.scrollInsideContainer")
      .listview.lv-bordered.lv-lg(ng-if="$ctrl.elements.length > 0")
        .lv-header
          .lv-item.p-0
            .row(ng-if="!$ctrl.organization._id")
              .col-md-3.col-xs-4.lv-title
                span #{__('Title')}
              .col-md-3.col-xs-4.lv-title
                span #{__('Organization')}
              .col-md-2.col-xs-4.lv-title
                span #{__('Manager')}
              .col-md-2.lv-title.hidden-xs
                span #{__('Start date')}
              .col-md-2.lv-title.hidden-xs
                span #{__('End date')}
            .row(ng-if="$ctrl.organization._id")
              .col-md-4.col-xs-5.lv-title
                span #{__('Title')}
              .col-md-4.col-xs-7.lv-title
                span #{__('Manager')}
              .col-md-2.lv-title.hidden-xs
                span #{__('Start date')}
              .col-md-2.lv-title.hidden-xs
                span #{__('End date')}
        .lv-body
          .lv-item.p-0(ng-repeat="item in $ctrl.elements track by item._id")
            ticketing-contract-list-item.clickable(contract="item", ng-click="$ctrl.onItemClick(item._id)", is-organization-mode="!!$ctrl.organization")
div(ng-if="!$ctrl.elements.length && $ctrl.infiniteScrollCompleted")
  ticketing-empty-message(
    icon="mdi-file",
    message=__('No contract'))
ul.nav.nav-pills.nav-stacked(ng-if='$ctrl.infiniteScrollDisabled')
  li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
fab(icon="plus", esn-modal-launcher="/ticketing/app/contract/create/ticketing-contract-create.html")
