doctype html
html.mail
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    - var contactSupport = `<a href='mailto:${content.contactSupport}'>${content.contactSupport}</a>`;
    - var sspUrl = `<a href="${content.sspUrlReset}">${content.sspUrl}</a>`
    - var frontendUrl = `<a href="${content.frontendUrl}">${content.frontendUrl}</a>`
    p #{translate('Hello,')}
    p !{translate('We have just created a beneficiary account for you on the Support platform: {{{site}}}.', {site: frontendUrl})}
    p !{translate('Please finalize your registration by resetting your password at this link: {{{sspUrl}}}', {sspUrl: sspUrl})}
    p !{translate('If you have any questions, please contact the support via the following email address: {{{contactSupport}}}', {contactSupport: contactSupport})}
    p #{translate('Yours sincerely,')}
    include ../includes/footer.pug
