doctype html
html.mail
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    - var ticketLink = `<a href="${content.ticketUrl}">${translate('ticket #{{id}}', {id: content.ticket.id})}</a>`
    - var ticketStatus = `<strong>${content.status}</strong>`
    - var assignee = `<strong>${content.ticket.assignedTo.name}</strong>`
    - var author = `<i>${content.ticket.author.name}</i>`
    p !{translate('The {{{ticketLink}}} has just been {{{ticketStatus}}} and assigned to {{{assignee}}} by {{{author}}}', {ticketLink: ticketLink,ticketStatus: ticketStatus, assignee: assignee, author:author})} :
    hr 
    if (content.event.comment)
      != content.event.comment
    p #{translate('The ticket is now {{status}}.', { status: content.status })}
      br
      | #{translate('The responsible of the ticket is now {{assignee}}.', {assignee: content.ticket.assignedTo.name})}
    hr
    p(style="color: gray")
      |--
      br
      | #{translate('This is an automatic email from {{{site}}}.', {site: content.frontendUrl})}

