doctype html
html.mail
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    - var ticketLink = `<a href="${content.ticketUrl}">${translate('ticket #{{id}}', {id: content.ticket.id})}</a>`
    - var ticketStatus = `<strong>${translate(content.ticket.status, 2)}</strong>`
    - var author = `<i>${content.ticket.author.name}</i>`
    if (content.ticket.assignedTo && content.ticket.assignedTo.name)
      - var assignee = `<strong>${content.ticket.assignedTo.name}</strong>`
      p !{translate('The {{{ticketLink}}} has just been {{{ticketStatus}}} and assigned to {{{assignee}}} by {{{author}}}', {ticketLink: ticketLink,ticketStatus: ticketStatus, assignee: assignee, author:author})} :
    else
      p !{translate('The {{{ticketLink}}} has just been {{{ticketStatus}}} by {{{author}}}', {ticketLink: ticketLink,ticketStatus: ticketStatus, author:author})} :
    hr 
    if (content.latestEvent.comment)
      != content.latestEvent.comment
    p #{translate('The ticket is now {{status}}.', { status: translate(content.ticket.status, 2) })}
      if (content.ticket.assignedTo && content.ticket.assignedTo.name)
        br
        | #{translate('The responsible of the ticket is now {{assignee}}.', {assignee: content.ticket.assignedTo.name})}
    if (content.latestEvent.attachments && content.latestEvent.attachments.length)
      include ../includes/attachments.pug
    include ../includes/footer.pug

