ng-form(name="form")
  .row
    .col-md-12
      esn-form-group(label=__('Title'))
        input.form-control(type="text", ng-model="$ctrl.contract.title", name="contractTitle", required)
  .row.m-b-30
    .col-md-12(ng-if="$ctrl.organizationMode")
      span.f-700.m-r-5 #{__('Organization:')}
      a(ui-sref="ticketingAdminCenter.organization.detail({organizationId: $ctrl.contract.organization._id})") {{::$ctrl.contract.organization.fullName}}
    .col-md-12.input-organization(ng-if="!$ctrl.organizationMode")
      h5 #{__('Organization')}
      ticketing-search-auto-complete(
        new-tags="newOrganizations",
        max-tags="1",
        min-tags="1",
        object-types="organization",
        placeholder=__('Type a organization name')
      )
  .row
    .col-md-6.input-manager
      h5 #{__('Manager')}
      ticketing-search-auto-complete(
        new-tags="newManagers",
        max-tags="1",
        object-types="user",
        placeholder=__('Type a name or email...')
      )
    .col-md-6.input-support-manager
      h5 #{__('Default support manager')}
      ticketing-search-auto-complete(
        new-tags="newDefaultSupportManagers",
        max-tags="1",
        object-types="user",
        placeholder=__('Type a name or email...')
      )
