ng-form(name="form")
.form-group
  esn-form-group(label="{{::$ctrl.label}}")
    input.form-control.m-r-5(
      ng-model="$ctrl.value",
      type="number",
      ng-change="$ctrl.onChange()",
      name="value"
    )
  .select
    select.form-control(
      ng-model="$ctrl.unit",
      ng-options="unit.name for unit in $ctrl.availableUnits",
      ng-change="$ctrl.onChange()"
    )
