ng-form(name="form")
  .row
    .col-md-6
      .row
        .col-md-12
          esn-form-group(label=__('Short name'))
            input.form-control(type="text", ng-model="$ctrl.organization.shortName", name="organizationShortName", required)
        .col-md-12
          esn-form-group(label=__('Full name'))
            input.form-control(type="text", ng-model="$ctrl.organization.fullName", name="organizationFullName")
        .col-md-12
          h5 #{__('Manager')}
          small.c-red(ng-if="$ctrl.newManagers.length > 1")
            | #{__('Only allows one manager')}
          ticketing-user-auto-complete(new-users="$ctrl.newManagers", max-tags="1")
    .col-md-6
      .row
        .col-md-12
          esn-form-group(label=__('Description'))
            textarea.form-control(type="text", rows="5", ng-model="$ctrl.organization.description", name="organizationDescription")
  .row(ng-if="$ctrl.updateMode")
    .col-md-12.flex-end
      button.btn.btn-link(ng-click="$ctrl.onCancelBtnClick()", ng-disabled="form.$pristine")
        | #{__('Cancel')}
      button.btn.btn-primary(ng-click="$ctrl.onSaveBtnClick()", ng-disabled="form.$invalid || form.$pristine")
        | #{__('Save')}
