.modal.ticketing-contract-create
  form(name="form")
    .modal-dialog
      .modal-content
        .modal-header.hidden-xs
          button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title #{__('New contract')}
        .modal-header.flex-vertical-centered.hidden-md
          .flex-grow.flex.flex-vertical-centered.flex-space-between
            button.btn.btn-link(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
              span(aria-hidden="true") &times;
            h4.modal-title #{__('New contract')}
          .flex-grow.flex-end
            button.btn.btn-link(ng-click="$ctrl.create(); $hide()", ng-disabled="form.$invalid")
              | #{__('Create')}
        .body
          ticketing-contract-form(contract="$ctrl.contract")
        .modal-footer.flex.hidden-xs
          .flex-vertical-centered.flex-end
            button.btn.btn-link(type="button", ng-click="$hide()")
              | #{__('Cancel')}
            button.btn.btn-primary(ng-click="$ctrl.create(); $hide()", ng-disabled="form.$invalid")
              | #{__('Create')}
