.modal.ticketing-user-create
  form(name="form")
    .modal-dialog
      .modal-content
        .modal-header.hidden-xs
          button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title #{__('New user')}
        .modal-header.flex-vertical-centered.hidden-md
          .flex-grow.flex.flex-vertical-centered.flex-space-between
            button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
              span(aria-hidden="true") &times;
            h4.modal-title #{__('New user')}
          .flex-grow.flex-end
            button.close(ng-click="$ctrl.create(); $hide()", ng-disabled="form.$invalid")
              | #{__('Create')}
        .body
          ticketing-user-form(user="$ctrl.user", organization="$ctrl.organization")
        .modal-footer.flex.hidden-xs
          .flex-vertical-centered.flex-end
            button.btn.btn-link(type="button", ng-click="$hide()")
              | #{__('Cancel')}
            button.btn.btn-primary(ng-click="$ctrl.create(); $hide()", ng-disabled="form.$invalid")
              | #{__('Create')}
