ng-form(name="form")
  .row.m-b-30(ng-if="$ctrl.entity.parent")
    .col-md-12
      dl.dl-horizontal
        dt #{__('Organization')}
        dd
          a(ui-sref="ticketingAdminCenter.organization.detail({organizationId: $ctrl.user.entity.parent._id})") {{::$ctrl.user.entity.parent.fullName}}
      dl.dl-horizontal
        dt #{__('Entity')}
        dd
          a(ui-sref="ticketingAdminCenter.organization.detail({organizationId: $ctrl.user.entity._id})") {{::$ctrl.user.entity.fullName}}
  .row
    .col-md-6
      esn-form-group(label=__('First name'))
        input.form-control(type="text", ng-model="$ctrl.user.firstname", name="firstname", required, ng-disabled="$ctrl.updateMode")
    .col-md-6
      esn-form-group(label=__('Last name'))
        input.form-control(type="text", ng-model="$ctrl.user.lastname", name="lastname", required, ng-disabled="$ctrl.updateMode")
  .row
    .col-md-6
      esn-form-group(label=__('Email'))
        input.form-control(type="email", ng-model="$ctrl.user.email", autocomplete="off", name="email", required, ng-disabled="$ctrl.updateMode")
    .col-md-6(ng-if="!$ctrl.updateMode")
      esn-form-group(label=__('Password'))
        input.form-control(type="password", ng-model="$ctrl.user.password", autocomplete="new-password", name="password", required, ng-disabled="$ctrl.updateMode")
  .row
    .col-md-6
      esn-form-group(label=__('Main phone'))
        input.form-control(type="text", ng-model="$ctrl.user.main_phone", name="mainphone", required)
    .col-md-6
      esn-form-group(label=__('Description'))
        textarea.form-control(ng-model="$ctrl.user.description")
  .row(ng-if="!$ctrl.updateMode")
    .col-xs-12
      h5 #{__('Entity')}
      ticketing-search-auto-complete(new-tags="newEntities", max-tags="1", object-types="entity", placeholder=__('Type a entity name'))
