.card
  .card-body
    .listview.lv-bordered.lv-lg(ng-if="$ctrl.users.length > 0")
      .lv-header
        .lv-item.p-0
          .row
            .col-md-4.col-xs-3.lv-title
              span #{__('Name')}
            .col-md-4.col-xs-5.lv-title
              span #{__('Email')}
            .col-md-4.col-xs-4.lv-title
              span #{__('Phone')}
      .lv-body
        .lv-item.p-0(ng-repeat="user in $ctrl.users track by user._id")
          ticketing-user-list-item(user="user", is-entity-mode="true")
div(ng-if="!$ctrl.users.length")
  ticketing-empty-message(
    icon="mdi-account",
    message=__('No user'))
fab(icon="plus", ng-click="$ctrl.onCreateBtnClick()")
