ng-form(name="form")
  .row
    .col-md-2
      ui-select.form-control(ng-model="$ctrl.demand.demandType", required)
        ui-select-match(placeholder=__('Select demand type'))
          span(ng-bind="$select.selected")
        ui-select-choices(repeat="item in ($ctrl.availableDemandTypes | filter: $select.search) track by item")
          span(ng-bind="item")
    .col-md-2
      ui-select.form-control(ng-model="$ctrl.demand.softwareType")
        ui-select-match(allow-clear="true", placeholder=__('Select software type'))
          span(ng-bind="$select.selected")
        ui-select-choices(repeat="item in ($ctrl.availableSoftwareTypes | filter: $select.search) track by item")
          span(ng-bind="item")
    .col-md-2
      ui-select.form-control(ng-model="$ctrl.demand.issueType")
        ui-select-match(allow-clear="true", placeholder=__('Select issue type'))
          span(ng-bind="$select.selected")
        ui-select-choices(repeat="item in ($ctrl.availableIssueTypes | filter: $select.search) track by item")
          span(ng-bind="item")
    .col-md-2
      ticketing-demand-time(time="$ctrl.demand.responseTime", label=__('Response time'))
    .col-md-2
      ticketing-demand-time(time="$ctrl.demand.workaroundTime", label=__('Workaround time'))
    .col-md-2
      ticketing-demand-time(time="$ctrl.demand.solvingTime", label=__('Solving time'))
