sub-header
  ticketing-contract-detail-subheader(
    title="$ctrl.contract.title",
    is-edit-mode="$ctrl.isEditMode",
    on-cancel-btn-click="$ctrl.onCancelBtnClick()",
    on-edit-btn-click="$ctrl.onEditBtnClick()",
    on-save-btn-click="$ctrl.onSaveBtnClick()",
    form="form",
    selected-tab="$ctrl.selectedTab"
  )

.card.m-b-0
  ticketing-contract-tabs(
    selected-tab = "$ctrl.selectedTab"
  )
form(name="form")
  ticketing-contract-tabs-permission(
    ng-show='$ctrl.selectedTab === "permission"',
    ng-if="$ctrl.contract.permissions",
    permissions="$ctrl.contract.permissions",
    form="form"
  )
  ticketing-contract-tabs-main(
    ng-if="$ctrl.contract",
    ng-show='$ctrl.selectedTab === "main"',
    contract="$ctrl.contract",
    is-edit-mode="$ctrl.isEditMode"
  )
ticketing-contract-tabs-software(
  ng-if="$ctrl.contract",
  ng-show='$ctrl.selectedTab === "software"',
  contract="$ctrl.contract"
)
ticketing-contract-tabs-demand(
  ng-if="$ctrl.contract",
  ng-show='$ctrl.selectedTab === "demand"',
  contract="$ctrl.contract"
)
