.modal.ticketing-organization-create
  form(name="form")
    .modal-dialog
      .modal-content
        .modal-header.hidden-xs
          button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title(ng-if="!$ctrl.organization.parent") #{__('New organization')}
          h4.modal-title(ng-if="$ctrl.organization.parent") #{__('New Entity')}
        .modal-header.flex-vertical-centered.hidden-md
          .flex-grow.flex.flex-vertical-centered.flex-space-between
            button.btn.btn-link(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
              span(aria-hidden="true") &times;
            h4.modal-title.eclipsis(ng-if="!$ctrl.organization.parent") #{__('New organization')}
            h4.modal-title.eclipsis(ng-if="$ctrl.organization.parent") #{__('New Entity')}
          .flex-grow.flex-end
            button.btn.btn-link(ng-click="$ctrl.create(); $hide()", ng-disabled="form.$invalid")
              | #{__('Create')}
        .body
          ticketing-organization-form(ng-if="$ctrl.organization", organization="$ctrl.organization")
        .modal-footer.flex.hidden-xs
          .flex-vertical-centered.flex-end
            button.btn.btn-link(type="button", ng-click="$hide()")
              | #{__('Cancel')}
            button.btn.btn-primary(ng-click="$ctrl.create(); $hide()", ng-disabled="form.$invalid")
              | #{__('Create')}
